id: 11
source: 1
templatename: didanceServiceItem
description: ''
properties: 'a:0:{}'
static_file: assets/template/templates/didance.html

-----

<!DOCTYPE html>
<html>
<head>
    [[$Head]]
     <link rel="stylesheet" type="text/css" href="[[++assets_url]]template/bower_components/fancybox/source/jquery.fancybox.css">
</head>
<body>
<header>
[[$Header]]
</header>
<div class="block-separate"></div>
<section class="content-wrapper">
    <div class="container">
        <div class="content-wrapper-text row">
            <h1 class="center">[[*pagetitle]]</h1>
            [[*content]]
              <ul class="service-item-ListBlock">
                [[getImageList?
                  &tvname=`list-items`
                  &tpl=`list-items`
                ]]
            </ul>
        </div>
        [[!pdoResources?
            &parents=`[[*id]]`
            &showUnpublished=`1`
            &tpl=`serviceItemBlock`
            &includeTVs=`list-items`
            &processTVs=`1`
            &includeContent=`1`
            &sortdir=`ASC`
            &sortby=`menuindex`
        ]]
        <div class="service-item-block-order center">
     <a href=""  data-toggle="modal" data-target="#service-item-block-order" class=" btn btn-didance">
                        [[*orderButton]]
                    </a>
</div>
    </div>
</section>
[[$Footer]]
[[$Modals]]
[[$Scripts]]
<script src="[[++assets_url]]template/bower_components/fancybox/source/jquery.fancybox.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox();
	});
</script>
</body>
</html>