id: 14
source: 1
templatename: didanceSpecialItem
description: ''
properties: 'a:0:{}'
static_file: assets/template/templates/didance.html

-----

<!DOCTYPE html>
<html>
<head>
    [[$Head]]
     <link rel="stylesheet" type="text/css" href="[[++assets_url]]template/bower_components/fancybox/source/jquery.fancybox.css">
</head>
<body>
<header>
[[$Header]]
</header>
<div class="block-separate"></div>
<section class="content-wrapper">
    <div class="container">
            [[pdoCrumbs]]
        <div class="content-wrapper-text row">
                [[ms2Gallery?
                    &tplOuter=`tpl.PageGallery.outer`
                    &tplRow=`tpl.PageGallery.row`
                    &tplSingle=`tpl.PageGallery.single`
                    &tplEmpty=`@INLINE `
                ]]
                <h1 class="center">[[*pagetitle]]</h1>
                [[*content]]
                [[$social-like]]
        </div>
    </div>
</section>
[[$Footer]]
[[$Modals]]
[[$Scripts]]
<script src="[[++assets_url]]template/bower_components/fancybox/source/jquery.fancybox.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox();
	});
</script>
</body>
</html>