<div class="container">
    <div class="row">
        <a href="[[++site_url]]" class="logo col-md-3">
            <img src="[[++assets_url]]template/images/logo.png">
        </a>
        <div class="header-social col-md-2">
            <ul>
                <li><a href="" class="social-icons social-vk"></a></li>
                <li><a href="" class="social-icons social-facebook"></a></li>
                <li><a href="" class="social-icons social-twitter"></a></li>
            </ul>
        </div>
        <div class="header-contact col-md-5 row">
            <section class="address col-md-7">
                <i class="el el-map-marker"></i> г. Уфа, ул. Ростовская 8/1
            </section>
            <section class="phone col-md-5">
                <i class="el el-phone"></i> 8-919-14-14-745
            </section>
        </div>
    </div>
        <nav class="row">

        </nav>
</div>
